.headAbout{
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url('../../images/aboutBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mottoAbout{
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.headAbout h1{
    color: white;
    font-size: 300%;
}